doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My resume
        link(rel="stylesheet", href="/css/normalize (1).css")
        link(rel="stylesheet", href="/css/style.css")
        link(href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,700&display=swap" rel="stylesheet")
    body 
        .container  
            aside.aside     
                img.foto(src="/img/Avatar.jpg")
                .skills1 
                    h3.info1 Contacts
                    div 
                        span.c-e C: 
                        a.tel(href="tel:+380666330913") 0666330913
                    div 
                        span.c-e E: 
                        a.tel(href="mailto:Y.o.u.r.o.c.k.Pal@gmail.com") Y.o.u.r.o.c.k
                .skills 
                    h3.info Tech Skills
                    ul.skill
                        li 
                            span.skills HTML5
                        li 
                            span.skills CSS3
                        li 
                            span.skills CSS Frameworks
                        li 
                            span.skills GIT
                        li 
                            span.skills Node.js / Pug
                        li     
                            span.skills Mobile adaptation
                .skills 
                    h3.info Skills that I teach
                    ul.skill
                        li 
                            span.skills JavaScript / jQuery
                        li 
                            span.skills JavaScript Frameworks
                        li 
                            span.skills Gulp
                        li 
                            span.skills Sass
                .skills 
                    h3.info Soft Skills
                    ul.skill
                        li 
                            span.skills Good communication
                        li 
                            span.skills Agile
                        li 
                            span.skills Problem-solving
                        li 
                            span.skills Teamwork

            .content
                .xx     
                    .about-me 
                        h2.profession Front-End Developer (Trainee / Junior)
                        .name-foto 
                            h1.name Yuriy Palchikovskiy
                            img.foto1(src="/img/Yourock.jpg")
                        p.info HI! My name is Yuriy. Im 26. I'm from Kiev. I want to work and develop in the field of IT.
                        p.info Why Front-End Developer? I like to create something interesting, something new that will be useful to other people.
                    .projects
                        h3.project My projects
                        ol
                            li.strong   
                                span.projects-text
                                    a.project(href="https://yourock5.github.io/Saw/") Film "Saw"
                                    span.toch ...................................................            
                                    span.none [ 1 project ]

                            li.strong 
                                span.projects-text
                                    a.project(href="https://yourock5.github.io/Films_new/") Films_new
                                    span.toch ....................................................
                                    span.none [ 2 project ]
                            li.strong 
                                span.projects-text
                                    a.project(href="https://yourock5.github.io/Your_house/") Your house
                                    span.toch ....................................................
                                    span.none [ 3 project ]
                    .work   
                        h3.project Work Experience    
                        div
                            h4 Your place of work <span class="colortext">(Front-End Developer)</span>
                            p.mal May 2021 -  <span class="strong"> | </span> Country
                            ul.work1
                                li Website layout
                                li Website development
                                li Continuous development of skills
                        .tesla 
                            h4 Freelance <span class="colortext">(Front-End Developer)</span>
                            p.mal September 2017 - September 2019   <span class="strong"> | </span>   Country
                            ul.work1
                                li Create websites by layout
                                li Filling content sites
                                li Search for orders
                        .ovo
                            h4 OVO <span class="colortext">(Content manager)</span>
                            p.mal June 2016 - June 2017   <span class="strong"> | </span>   Country
                            ul.work1
                                li Filling page content
                                li Writing websites from scratch
                                li Website support
                        .education
                            h3.project Education
                            h4.univer NTUU "Kyiv Polytechnic Institute"
                            h5 Management
                            p.mal September 2011 - June 2016   <span class="strong"> | </span>   Country
                         
                                
                        